.main-title {
/* width: 409px; */
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
text-align: center;
text-transform: uppercase;
color: #212121;
margin: 80px auto 34px;
}

.line {
    background-color: #E72424;
    width: 64px;
    height: 2px;
    margin: 0 auto 34px;
}

.main-text {
/* width: 363px; */
text-align: center;
margin-bottom: 62px;
/* border: 1px solid #fff; */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #86878B;
}


