.flex-wrap-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -15px;
}

.flex-wrap-icons {
    display: flex;
    flex-wrap: wrap;
    width: 684px;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    
}

.contant-text {
    width: 365px;
    margin: 0 15px;
}

.title-social {
/* width: 125px; */
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* align-items: left; */
color: #333333;
/* text-align: left; */
/* display: flex; */
margin-bottom: 14px;

}

.text-social {
width: 365px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #86878B;

}




.icon-shrift{
    font-size: 40px;
    color: rgba(134, 135, 139, 0.55);
    /* font-weight: 200px; */
}