@import url("../css/cdn.css");
@import url("../css/flex.css");
@import url("../css/title.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}

html{
    font-family: 'Open Sans', 'Raleway' sans-serif;
}